:root{
  --container-padding: 20px;
  --container-width: calc(100% - var(--container-padding) * 2);
}

%container,
.container {

  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}
@media only screen and (min-width: 1040px){
  :root {
    --container-width: 1120px;
  }
}

%grid2,
.grid2 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;

  @include up(730) {
    grid-template-columns: repeat(2, 1fr);
  }

}
%grid3,
.grid3 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;

  @include up(730) {
    grid-template-columns: repeat(3, 1fr);
  }
}

%stack,
.stack,
.stack-large {
  --gap: 2;
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  grid-gap: calc(var(--gap) * var(--space));

  & > * {
    min-width: 0;
  }
}

.flex {
  display: flex;
}
