{% extends 'base.html.twig' %}
{% block title  'Mon Compte'%}
{% set bodyClass = 'header-light' %}
{% block body %}
  <div class="header__profile">
      <div class="container">
      <div class="profil__avatar"></div>
      <div class="profil__account">
          <h1 class="h1">Mon Compte</h1>
          <div class="profil__state__meta"></div>
      </div>
      <div class="profil__tabs">
          <nav class="tabs__profil">

          </nav>
      </div>
      </div>
  </div>
{% endblock %}



