<header>
    <nav class="header" >
        <ul>
            <li><a href="#">Accueil</a> </li>
            <li><a href="#">Forum</a> </li>
            <li><a href="#">Blog</a> </li>
            <li><a href="#">WIP</a> </li>
            <li><a href="#">Category</a> </li>
            <li><a href="#">Mods</a></li>

        </ul>
        <ul class="header-side">
            <li><a href="#">Se Connectée</a> </li>
            <li><a href="#">S'inscrire</a> </li>
        </ul>
    </nav>
</header>