<div class="sidebar__admin__wrapper">
  <div class="dashboard__sidebar">


    <ul class="dashboard__nav">
      <li><a href="#">Admin</a> </li>
      <li class="title"><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li class="title"><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li class="title"><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
      <li><a href="#">Admin</a> </li>
    </ul>

  </div>

</div>
<div class="dashboard__topbar">
  efsf
</div>
