
{{ form_start(form, {attr: {class: 'stacked'}}) }}
<div class="dashboard-grid">
  {{ form_row(form.name) }}
</div>
  <div class="full">
  {{ form_row(form.description) }}
  </div>
  <div class="full mt2">
    <button type="submit" class="btn-primary">Sauvegarder</button>
  </div>

{{ form_end(form) }}
