.round__svg {
  background: var(--background);
  width: 200px;
  height: 200px;
  margin: auto auto;
  padding-top: calc(var(--space) * 3);
  padding-bottom: calc(var(--space) * 3);
  border-radius: 100%;
  box-shadow: var(--shadow);
  border: 1px solid var(--border)
}
.round__svg svg {
    width: 150px;
    height: 150px;
    opacity: 0.2;
}