.header__profil {
  background: #fff!important;
  position: relative;
  border-bottom: 1px solid var(--border);
}

.user__tabs {
  display: flex;

}
.profil__main {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "avatar meta";
}
.profil__desc {
  grid-area: meta;
}
.profil__header__avatar {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 110px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: var(--border);
  border: solid 2px var(--border);
}
.profil__header__avatar img{
  width: 100%;
  height: 100%;
  border-radius: 110px;
  transition: opacity 0.3s;

}

@include up(600) {
  .profil__main {
    text-align: left;
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    grid-gap: space(5);
  }
  .profil__header__avatar {
    margin-left: 0;
  }
  .profil-header__body p {
    justify-content: flex-start;
  }
}
.user__tabs {
  border-top: 1px solid var(--border);
  margin-top: space(3);

  a:hover,
  a[aria-current],
  button:hover {
    color: var(--contrast);
    opacity: 1;
  }

  &::after {
    opacity: 0.3;
  }
}
.user__tabs ul{
  display: flex;
  padding: space(2);
  width: 100%;
}
.user__tabs ul li {
  display: flex;
  font-size: 20px;
  padding: space(1) space(5) space(1) space(1);
}

.user__tabs ul li:first-child {
  border-left: none;
}
.tabs_profils li a svg {
  width: 16px;
  height: 16px;
}
.login__form {
  @extend %card;
   width:500px;
  margin: auto auto;
  border: 1px solid var(--border);
  padding: calc(var(--space) * 3);
}
.login__title {
  font-size: 30px;
  font-family: $font-alt;
  font-weight: 700;
  text-transform: uppercase;
}

.register__page {
  @extend %container;
  @extend  %grid2;
}
.form__register,
.right__register {
  @extend %card;
}
.form__register h1 {
  @extend %section-title;
  font-size: 34px;
}