{% extends 'admin/layout/card.html.twig' %}

{% block title %}{{ icon('brand') }} Gestion des Mods de la Semaine
{% endblock %}
{% block actions %}
  <a href="{{ path('admin_top_new') }}" class="btn-primary">{{ icon('check') }}Ajoutée un Top 10</a>
{% endblock %}

{% block content %}



{% endblock %}
