.forum-pages {
  @extend %container;
  display: grid;
  grid-gap: space(3);
  grid-template-columns: 1fr;

  @include up(800) {
    grid-template-columns: 190px 1fr;
  }
}
.forum-tags ul {
  margin-left: calc(var(--space) * 2);
}
.topics__list {
  width: 100%;
}
.topic_card {
  width: 100% !important;
  display: grid;
  grid-template-columns: 100%;
  gap: var(--gap);


}
.topics__body:hover {
  background: var(--background-light);
}
.topic__body {
  padding: var(--space);
}
.topic__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: $font-alt;
}

.forum__meta__topic {
  display: flex;
  margin-top: var(--space);
}

.forum__meta__topic > * {
  margin-left: var(--space);
}

.create__topic__grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas: "info form";
}