.register__page {
 @extend %container;
  @extend %grid2;
}

.form__register {
  margin-top: calc(var(--space) * 2);

}

.form__register h1 {
  font-size: 45px;
  font-weight: 700;
}

.login__form{

  margin-left: auto;
  margin-right: auto;
  width: calc(100% - var(--container-padding) * 2);
  max-width: 400px;
}
