.pill {
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 2px 5px
}
.pill-danger {
  background: var(--red);
  color: var(--background-light);
  font-weight: 700;
}
.pill-accepted  {
  background: var(--green);
  color: var(--background-light)
}
.pill-waiting  {
  background: var(--yellow);
}
.is-parent {
  margin-right: -8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

