:root {
  --border-header: var(--border);
}

.header  {
  @extend %container;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  padding-top: calc(var(--space) * 6);
  padding-bottom: calc(var(--space) * 3);

  justify-content: space-between;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-header);
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    height: 1px;
  }
}
nav.header ul{
  display: flex;
  font-size: 22px;
  margin-top: calc(var(--space) * 2);

  li {
    margin-left: calc(var(--space) * 4);
  }
}

nav ul.header-side {
  position: relative;
  justify-content: flex-end;
  text-align: left;
  width: 100%;
}