{% extends 'admin/layout/card.html.twig' %}

{% block title %}{{ icon('check') }} Dashboard
{% endblock %}
{% block content %}

    <form action="{{ path('admin_cache_clean') }}" method="post">
        <button class="btn btn-small btn-danger">{{ icon('trash') }} Vider le cache</button>
    </form>
{% endblock %}
