<div class="container_spacing">
<div class="section-title">
    <h1>Mes Mod {{ titlePage }}</h1>
</div>
<div class="mod__grid private_mod">
{% for private  in privates %}
<div class="card">
    <div class="card__body">
        <div class="card-title">{{ private.name }}</div>
        <div class="card__description">
            {{ private.description }}
        </div>
    </div>
</div>

{% endfor %}
</div>
</div>
