{% extends 'base.html.twig' %}

{% block body %}
    {% include 'users/accounts/header.html.twig' %}


    <div class="container">
       <h1 CLASS="hero-title">DESOLER LE MOD A ETE FERME</h1>
    </div>
{% endblock %}

{% block title  'Mon Compte'%}

{% set bodyClass = 'header-light' %}
