{% extends 'base.html.twig' %}

{% block body %}
    {% include 'users/accounts/header.html.twig' %}
<div class="container mt2">
    <div class="">
        <ul class="mod__tabs">
            <li><a href="{% if is_granted('ROLE_AMIN') %}{{ path('admin_mod_new') }}{% else %}{{ path('mod_new') }}{% endif %}" class="btn-primary-outlined">{{ icon('check') }}Proposer un mods</a></li>

        </ul>


    </div>
    <div class="container stack-large">


        {% include 'users/accounts/_privateCard.html.twig' %}
    </div>
{% endblock %}

{% block title  'Mon Compte'%}

{% set bodyClass = 'header-light' %}
