{% extends 'base.html.twig' %}

{% block body %}
    {% include 'users/accounts/header.html.twig' %}
    <div class="container">
        {{ mods.name }}
    </div>
{% endblock %}

{% block title  'Mon Compte'%}

{% set bodyClass = 'header-light' %}
