{% extends 'admin/layout/card.html.twig' %}

{% block title %}{{ icon('brand') }} Gestion des Category
{% endblock %}
{% block actions %}
  <a href="{{ path('admin_mod_category_new') }}" class="btn-primary">Ajouter une categories</a>
{% endblock %}

{% block content %}
  <item-sorter items="{{ rows }}" endpoint="{{ path('admin_mod_category_positions') }}"></item-sorter>
{% endblock %}
