<div class="grid">
{% for mod  in mods %}
        <div class="card">
                <div class="card-title">
                        <h3 class="section-title">
                                {{ mod.title }}

                        </h3>
                </div>
        </div>


{% endfor %}
</div>