{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt4">
        <div class="grid3">
            <div  class="card">frrfr</div>
            <div >frrfr</div>

            <div >frrfr</div>

        </div>
    </div>

{% endblock %}

{% block title  'Page d\'accueil'%}

