{% extends 'base.html.twig' %}
{% set bodyClass = 'header-light' %}

{% block body %}
<div class="page-header" style="background: var(--background-light)">
    <div class="container my5">
        <div style="display: grid; grid-template-columns: 30% 70%">
            <div class="title">
                <h1 class="hero-title text-center">Forum</h1>
            </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Rechercher" is="forum_search">

        </div>
        </div>

    </div>
</div>
    <main class="forum-pages" style="display: flex;">
        <aside class="tag__list" style="border-right: 1px solid var(--border-light); height: 50vh; padding-right: calc(var(--space) * 3)">
           {% include 'forums/_tag.html.twig' %}
        </aside>
        <article class="topics__list" style="margin-left: calc(var(--space) * 5)">
            {% include 'forums/_topics.html.twig' %}
        </article>
    </main>

{% endblock %}